<script setup lang="ts">
</script>

<template>
  <v-card class="mx-auto" max-width="350" variant="outlined">
    <v-img src="https://scontent.fbkk13-3.fna.fbcdn.net/v/t39.30808-6/298768917_1483270792134651_3478011752516117099_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEQvTGPRBx0GSaJQR_wwGZc8LkCOy5-mMnwuQI7Ln6YyTC-vTG1wHt4yW_rI3iG1v37VXe4imNyZsu8QbSdsl-e&_nc_ohc=ulAfpnoUu20AX_GbEO0&_nc_zt=23&_nc_ht=scontent.fbkk13-3.fna&oh=00_AfDhFIkthjGomvbjVzAjyvR-b8ofAqngl401gPC6XM6-aw&oe=63A49258" height="250px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">Nonnanee Rodme</div>
        <div class="text-caption">
          Ying
        </div>
      </div>
    </v-card-item>
  </v-card>

  <v-row>
    <v-col>
      <v-table>
        <thead>
          <tr>
            <th>year</th>
            <th>school</th>
            <th>gpa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2557</td>
            <td>โรงเรียนหัวถนนวิทยา</td>
            <td>3.00</td>
            </tr>
            <tr>
            <td>2560</td>
            <td>โรงเรียนหัวถนนวิทยา</td>
            <td>2.71</td>
            
            
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
  <v-row>
    <v-col><h2>Favorite</h2></v-col>
  </v-row>
  <v-row>
    <v-col cols="3">
      <v-list>
        <v-list-item
          prepend-avatar="https://files.vogue.co.th/uploads/1d2073cbd259be5dfa3c987c95af9a9b.jpg"
          title="Got7"
          subtitle="kpop"
        ></v-list-item>
      </v-list>
    </v-col>
    <v-col cols="3">
      <v-list>
        <v-list-item
          prepend-avatar="https://s.isanook.com/jo/0/ud/490/2451493/bts.jpg"
          title="Bts"
          subtitle="kpop"
        ></v-list-item>
      </v-list>
    </v-col>
  </v-row>
</template>